body{
	background-color: lightblue;
}
h1{
	border:solid white;
	color: white;
	background-color: black;
	text-align: center;
	margin-top: 10px;
	padding: 30px;
	border-radius: 50px;
	padding-bottom: 35px;
}
h3{
	color: black;
	margin-left: 50px;
	font-size: 20px;

}
.tag1{
	float: right;
	text-decoration: none;
	font-size: 20px;
	color: white;
	margin-right: 45px;
	padding: 5px;
	border-radius: 50px;
}
.tag2{
	float: right;
	text-decoration: none;
	font-size: 20px;
	color: white;
	margin-right: 55px;
	padding: 5px;
	border-radius: 50px;
}
.cat{
	
	width: 200px;
	border-radius: 10px;
	border: solid blue;
	padding: 30px;
	margin-left: 20px;
	background-color: darkblue;
	float: left;






}
.cat1{
	border: solid blue;
	width: 200px;
	height:50px ;
	background-color:black ;
	border-radius: 10px;
	padding-top: 20px;

}
a{
	text-decoration: none;
	margin-left: 45px;
	color: whitesmoke;
	font-size: 20px;


}
.cat2{
border: solid white;
border-radius: 10px;
background-color:white;


}
.cat1:hover{
	background-color: blue;
	color:red;

}

.reg{
	margin-top: 50px;
border: solid black;
background-color: skyblue;
padding-left: 80px;
padding-right: 60px;
padding-top: 40px;
padding-bottom: 40px;
border-radius: 50px;
font-family: math;
float: right;
margin-right: 450px;




}

label{
	color: solid black;
	padding-bottom: 50px;

}
.ln{
	padding-right: 20px;
}
.la{
	padding-right: 25px;
}
.lp{
	padding-right: 35px;
}
.le{
	padding-right: 0px;
	float: left;
}

input{
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 15px;
}
a{
	text-decoration: none;



}
.submit{
	border-radius: 50px;
	margin-right: 50px;
	padding-right: 50px;
	padding-left: 50px;
	margin-bottom: 20px;
}
.tag1:hover{
	background-color: blue;
	

}
.tag2:hover{
	background-color: blue;
	
}




